@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/AboutCss")
<title>Beats-About</title>

<div class="row g-0">
    <div class="col g-0">
        <div class="leftside">
            <div class="container">
                <div class="log">
                    <ul>
                        <li><a href="https://localhost:44306">HOME</a></li>
                        <li><a href="https://localhost:44306/Home/About">ABOUT</a></li>
                        <li class="li">|</li>
                        <li class="l"><a href="https://localhost:44306/User/Register">Sign up</a></li>
                        <li class="l"><a href="https://localhost:44306/User/Login">Log in</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="co">
                <div class="first">
                    <span style="height: 100px; background: linear-gradient(to bottom right,#2c8847 9%,#d8b05a);"></span>
                    <span style="height: 130px; background: linear-gradient(to bottom right,#d8ad4f 9%,#ac2a51);"></span>
                    <span style="height: 150px; background: linear-gradient(to bottom right,#922f4d 9%,#e9a7e6);"></span>
                    <span style="height: 170px; background: linear-gradient(to bottom right,#20308b 9%,#95d2ee);"></span>
                </div>
                <div class="second">
                    <span style="height: 40px; background: linear-gradient(to bottom right,#922f4d 9%,#e9a7e6);"></span>
                    <span style="height: 55px; background: linear-gradient(to bottom right,#2c8847 9%,#d8b05a);"></span>
                    <span style="height: 50px; background: linear-gradient(to bottom right, #20308b 9%,#95d2ee );"></span>
                    <span style="height: 60px; background: linear-gradient(to bottom right, #d8ad4f 9%,#ac2a51);"></span>
                </div>
                <div class="third">
                    <span style="height: 40px; background: linear-gradient(to bottom right,#d8ad4f 9%,#ac2a51);"></span>
                    <span style="height: 60px; background: linear-gradient(to bottom right,#20308b 9%,#95d2ee);"></span>
                    <span style="height: 80px; background: linear-gradient(to bottom right,#922f4d 9%,#e9a7e6);"></span>
                    <span style="height: 100px; background: linear-gradient(to bottom right,#2c8847 9%,#d8b05a );"></span>
                </div>
                <div class="fourth">
                    <span style="height: 120px; background: linear-gradient(to bottom right,#2c8847 9%,#d8b05a);"></span>
                    <span style="height: 140px; background: linear-gradient(to bottom right,#d8ad4f 9%,#ac2a51);"></span>
                    <span style="height: 160px; background: linear-gradient(to bottom right,#922f4d 9%,#e9a7e6);"></span>
                    <span style="height: 180px; background: linear-gradient(to bottom right,#20308b 9%,#95d2ee);"></span>
                </div>
                <div class="fifth">
                    <span style="height: 200px; background: linear-gradient(to bottom right,#d8ad4f 9%,#ac2a51);"></span>
                    <span style="height: 220px; background: linear-gradient(to bottom right, #2c8847 9%,#d8b05a);"></span>
                    <span style="height: 230px; background: linear-gradient(to bottom right, #20308b 9%,#95d2ee);"></span>
                    <span style="height: 250px; background: linear-gradient(to bottom right,#922f4d 9%,#e9a7e6);"></span>
                </div>
            </div>
            <div class="con2">
                <p class="p">info@Beats.com</p>
                <div class="icons">
                    <a href="https://www.facebook.com"><img src="~/images/images/facebook.png"></a>
                    <a href="https://www.instagram.com"><img src="~/images/images/instagram.png"></a>
                    <a href="https://twitter.com"><img src="~/images/images/twit.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col g-0">
        <div class="rightside">
            <div class="div">
                <h1>About Us</h1>
                <p>With its wide list of new stars and amazing craftsmen, Beats Music Group is home to an accumulation of the best-realized record marks in the music business including Asylum, Atlantic, East West, Elektra, Nonesuch, Reprise, Rhino, Roadrunner, Rykodisc, Sire, Beats Bros. furthermore, Word, just as Beats, one of the world’s driving music distributors, with an index of more than one million copyrights around the world.</p>
            </div>

        </div>

    </div>
</div>



