@{
    ViewBag.Title = "Beats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/indexCss")
<title>Beats</title>
<div class="row g-0">
    <div class="col g-0">
        <div class="leftside">
            <div class="contain">
                <div class="img">
                    <img src="~/images/images/icc.png">
                </div>
                <div class="h">
                    <h1>Beats</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col g-0">
        <div class="rightside">
            <div class="log">
                <ul>
                    <li><a href="https://localhost:44306">HOME</a></li>
                    <li><a href="https://localhost:44306/Home/About">ABOUT</a></li>

                    <li class="li">|</li>
                    <li class="l"><a href="https://localhost:44306/User/Register">Sign up</a></li>
                    <li class="l"><a href="https://localhost:44306/User/Login">Log in</a></li>

                </ul>
            </div>
            <h2>Welcome</h2>
            <p>
                Millions of songs, No credit card needed.
            </p>
            <p class="p">info@Beats.com</p>
            <div class="icons">
                <a href="https://www.facebook.com"><img src="~/images/images/facebook.png"></a>
                <a href="https://www.instagram.com"><img src="~/images/images/instagram.png"></a>
                <a href="https://twitter.com"><img src="~/images/images/twit.png"></a>
            </div>
        </div>
    </div>
</div>



