@font-face {
    font-family: Gotham;
    src: url("../fonts/fonts/Gotham-Font/GothamBold.ttf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    backface-visibility: hidden;
    width: 100%;
    height: 100vh;
    font-family: Gotham;
}

::-webkit-scrollbar {
    width: 10px;
    z-index: 999;
    padding: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(17, 47, 80);
    box-shadow: rgb(17, 77, 117);
    border-radius: 6px;
    min-height: 50px;
}

.main {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 25%;
    left: 20%;
    display: flex;
}

.Search-bar {
    display: flex;
    border: 3px solid #41709e;
    width: 500px;
    border-radius: 50px;
}

.acc {
    width: 186px;
    height: 45px;
    margin-top: 10px;
    border: 3px solid #41709e;
    border-radius: 50px;
    margin-left: 1000px;
    position: relatiave;
    display: flex;
}

.dropdownlist {
    display: flex;
}

.dropdown {
    position: absolute;
    top: 65px;
    left: 82%;
    background-color: white;
    border-radius: 5px;
    background-color: #89b6db;
    display: none;
}

.fas {
    margin-right: 8px;
    margin-top: 3%;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: -18%;
    left: 90%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent #89b6db transparent;
}

div.btn {
    border-radius: 50px;
    color: white;
    display: flex;
    font-size: 85%;
    margin-top: 3%;
}

    div.btn:hover {
        color: #ddcdcd;
    }

.input_box {
    border: 0;
    padding: 0 0.5em;
    flex-grow: 1;
    border-radius: 30px;
}

.ta-list-tittle button:focus {
    outline: none;
}

.input_box:focus {
    outline: 0;
}

.submit {
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    color: rgb(21, 44, 247);
    border-radius: 50px;
    font-size: 0.5rem;
}

    .submit:focus {
        outline: 0;
    }

.justify-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    color: inherit;
}

    button:focus {
        outline: none;
    }

.columns {
    padding: 7px;
}

.column {
    padding: 10px;
    flex: 1;
    display: inline-flex;
    margin-right: -4px;
    vertical-align: top;
}

.ta-app-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right,#062a49 9%,#010e18);
    padding-top: 70px;
    padding-left: 230px;
    overflow: hidden;
}

.ta-app {
    width: 100%;
    height: 100%;
    background-color: #062a49 9%,#010e18;
    padding: 20px;
    overflow-y: auto;
}

.flex {
    display: flex;
}

@font-face {
    font-family: playball;
    src: url("../fonts/fonts/Playball-Regular.ttf");
}

.dropdown ul li.active {
    display: block;
}

.ta-list-tittle {
    margin-bottom: 5px;
    font-size: 28px;
    color: rgb(160, 197, 245);
    display: flex;
}

h1 {
    width: 100%;
}

section.right {
    margin-right: 5%;
    width: 100%;
}

.ta-stat-board {
    margin-bottom: 10px;
}

    .ta-stat-board li {
        color: #89b6db;
        flex: 0.3;
        text-align: center;
    }

.ta-track-list {
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
}

.ta-stat-tracks {
    width: 100%;
}

    .ta-stat-tracks li {
        display: flex;
        text-align: center;
    }

        .ta-stat-tracks li div {
            flex: 1;
            text-align: center;
        }

        .ta-stat-tracks li .artwork {
            position: relative;
            width: 40px;
            margin-left: 12px;
            flex: 0.15;
        }

    .ta-stat-tracks .info {
        background: none;
        display: flex;
    }

.dd {
    display: flex;
}

.inner {
    box-shadow: 0 2px 7px #1f3e5a;
}

.artwork {
    width: 100%;
    transition: 0.1s;
    background-color: rgb(5, 8, 41);
}

    .artwork:hover {
        z-index: 1;
        transform: scale(1);
        box-shadow: 0 20px 20px rgb(0, 0,0, 0.5);
    }

span {
    padding-bottom: 100%;
    display: block;
    background-size: cover;
    background-position: center;
}

.info {
    background-color: #122e47;
    padding: 15px;
}

.title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 3px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.username {
    font-size: 15px;
    font-weight: 500;
}

.light-white-hover {
    color: rgb(188, 201, 206);
}

    .light-white-hover:hover {
        color: white;
    }

.white-primary-hover {
    color: white;
}

    .white-primary-hover:hover {
        color: #aaa;
    }

nav.top {
    width: calc(100% - 230.5px );
    height: 70px;
    background: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    right: 0;
}

section.right {
    width: 100%;
}

aside {
    height: 100%;
    background: rgba(0,0,0,0.1);
    width: 15.4%;
    padding: 1.5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.conta {
    display: flex;
    margin-bottom: 5%;
}

.links {
    padding-bottom: 10%;
}

.logo {
    color: rgb(255, 255, 255);
    font-family: playball;
    font-weight: bolder;
    font-weight: 5%;
}

.logg {
    height: 50%;
    padding-right: 1%;
}

.bread {
    color: white;
    font-weight: 500;
    font-size: 130%;
    margin-left: -20%;
}

ul {
    list-style-type: none;
    display: block;
}

.li {
    display: flex;
    padding: 3%;
}

li .ex1 {
    margin-left: -50%;
}

a {
    font-size: 99%;
    text-decoration: none;
}

    a:hover {
        color: #f7d9d9;
    }

    a.active {
        color: #7c4a4a;
    }

i {
    margin-top: 6.5px;
    width: 24px;
    display: flex;
    justify-content: center;
    font-size: 16.5px;
}

.dd {
    display: flex;
}

section.right {
    margin-right: 5%;
    width: 100%;
}

.ta-list-tittle {
    margin-bottom: 5px;
    font-size: 28px;
    color: rgb(160, 197, 245);
    display: flex;
}

    .ta-list-tittle button:focus {
        outline: none;
    }

.alb {
    width: 100%;
    color: white;
}

.conn {
    margin-right: 40px;
    margin-bottom: 8%;
}

    .conn ul {
        display: flex;
        overflow-x: auto;
    }

.inner {
    box-shadow: 0 2px 7px #1f3e5a;
    transition: 0.1s;
    width: 150px;
    white-space: nowrap;
}

    .inner:hover {
        z-index: 1;
        transform: scale(1);
        box-shadow: 0 20px 20px rgb(0, 0,0, 0.5);
    }

.artwork {
    transition: 0.1s;
}

    .artwork:hover {
        z-index: 1;
        transform: scale(1);
        box-shadow: 0 20px 20px rgb(0, 0,0, 0.5);
    }

    .artwork span {
        padding-bottom: 100%;
        display: block;
        background-size: cover;
    }

.info {
    background-color: #122e47;
    padding: 15px;
}

.title {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 3px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.username {
    font-size: 10px;
    font-weight: 500;
    width: 100%;
}

.light-white-hover {
    color: rgb(188, 201, 206);
}

    .light-white-hover:hover {
        color: white;
    }

.white-primary-hover {
    color: white;
}

    .white-primary-hover:hover {
        color: #aaa;
    }

.ta-track-list li {
    margin-right: 12px;
}

#ta-player {
    width: 100%;
    height: 95px;
    background: linear-gradient(to bottom right,#c4a1a9 9%, #2c050d);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
    z-index: 10;
}

.ta-player-container {
    height: 100%;
    width: 100%;
}

.ta-artwork {
    margin-right: 15px;
}

.ta-meta {
    margin-top: 5%;
}

    .ta-meta .title {
        font-weight: 500;
        font-size: 15px;
        color: black;
    }

.title span {
    font-size: 11px;
    font-weight: 500;
    color: black;
}

.ta-player-container section {
    flex: 1;
}

.ta-player-progress {
    flex: 2;
    margin-left: 12%;
}

.ta-player-progress-wrapper {
    width: 50%;
    height: 4px;
    position: relative;
    margin-top: 2.5%;
    transition: .3s ease;
    transform: rotate(0.02deg);
}

.ta-player-progress:hover
.ta-player-progress-wrapper {
    height: 8px;
}

.ta-player-progress-foreground {
    background-color: #2f1cda91;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.ta-player-progress-background {
    background-color: #CFCDCF;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.ta-time-current {
    margin-top: 1.6%;
    margin-right: 1%;
    font-size: 70%;
}

.ta-time-duration {
    margin-top: 1.5%;
    margin-left: 1%;
    font-size: 70%;
}

.ta-player-progress-handler {
    width: 15px;
    height: 15px;
    background: #2f1cda;
    position: absolute;
    top: -5px;
    border-radius: 50px;
    left: 39%;
    z-index: 5;
}

.ta-player-controls {
    margin-top: 1.1%;
    margin-left: 1%;
}

.ta-player-cont {
    margin-top: 1%;
    margin-left: 5%;
}

.ta-meta .title,
.ta-meta .username {
    color: black;
}

.droplog ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.droplog li {
    opacity: 0.8;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 83%;
}

.droplog ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

    .droplog ul li a:hover {
        background-color: darkslateblue;
    }

.doo li {
    left: -5%;
    top: 120%;
    display: none;
}

.droplog li:hover
.doo li {
    display: block;
}
