@font-face {
    font-family: Gotham;
    src: url("../fonts/fonts/Gotham-Font/GothamBold.ttf");
}

body {
    background-image: url("../images/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Gotham;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    font-family: Gotham;
}

.sign_up_form {
    height: 510px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #ffffff;
    padding-top: 60px;
}

.sign_up {
    letter-spacing: 1px;
}

input {
    width: 200px;
    margin-top: 20px;
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 30px;
    box-shadow: 0 0 4px #ffffff;
    transition: box-shadow 0.5s ease;
}

.btn {
    padding: 5px 20px;
    margin-top: 30px;
    background: transparent;
    border-radius: 30px;
    box-shadow: 0 0 4px #ffffff;
    cursor: pointer;
}

input[placeholder]:focus {
    color: #ffffff;
}

input:focus,
.btn:hover {
    box-shadow: 0 0 10px #ffffff;
}

.log {
    color: white;
/*    margin-top: 6%;
*/}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
}

    a:hover {
        color: #530533;
    }
